.container-graficos {
    display: grid;
    grid-template-columns: 325px 325px 325px;
    grid-template-rows: 230px 230px; /* se tiver duas linhas e duas colunas. Esse código fixa o tamanho da primeira linha e da segunda linha.*/
    margin: 20px;
    height: 120vh; /* Define a altura total da tela: ficar a tela cheia é 100vh */
}

.half {
    box-sizing: border-box; /* Considera a borda no cálculo da largura */
    border: 1px solid #dee2e6; /* Apenas para fins de visualização */
    overflow: auto;
}

.descricao {
    margin-left:20px;
}

.label-titulo {
    font-size: 1.5em;
}

.legenda {
    font-size: 10px;
    margin-left: 20px;
}

.grafico-rosca {
    width: 400px;
    height: 200px;
    margin-top: -5px;
    margin-left: -80px;
}

@media (max-width: 480px) {
    .container-graficos {
        grid-template-columns: 325px;
        grid-template-rows: 230px 230px 230px 230px 230px 230px;
        height: 185vh
    }

    .descricao {
        margin-left: 20px;
        width: 42vh;
        font-size: 12px;
    }

    .legenda {
        font-size: 12px;
        margin-left: 20px;
        width: 42vh;
    }
}
