

@{
    Layout = "~/Views/Shared/_CFP.cshtml";
}

<html>
<head>
    <script src="~/Scripts/GoogleMaps/Estatisticas/estatisticas.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>
    <div id="retornoEstatistica">
        @{
            Html.RenderPartial("EstatisticasDF");
        }
    </div>
</body>
</html>

