@{
    Layout = "~/Views/Shared/_CFP.cshtml";
}
<link href="~/Content/Delegacias/candidato.css" rel="stylesheet" />
<script src="~/Scripts/GoogleMaps/Delegacias/mapa_delegacias.js"></script>
<script src="~/Scripts/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Styles/sweetalert.css" rel="stylesheet" />

<div class="m-4">

    <div class="row col-md-12">
        <h4>
            <b>Área do Admin</b>
        </h4>

    </div>

    <a class="nav-link" href="~/DepartamentoPolicia/Create">Criar Delegacia</a>
    <a class="nav-link" href="~/Candidato/BuscaCandidatos">Buscar Moradias</a>

</div>

