@model IEnumerable<GestaoDDD.Application.ViewModels.AlunoViewModel>
    @{
        Layout = "~/Views/Shared/_CFP.cshtml";
    }
    <link href="~/Content/Alunos/alunos_todos.css" rel="stylesheet" />
    <script src="~/Scripts/GoogleMaps/Alunos/alunos_partes.js"></script>
    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />

    <div class="m-4">
        <div class="container-texto">
            <div class="half-texto">
                Escolha o cargo e a concorrência dos alunos a serem exibidos:
            </div>
        </div>
        <div class="container-concorrencia">
            <div class="half-alunos">
                <select name="cargo-select" class="form-control" id="cargo-select">
                    <option value="Agente">Agente</option>
                    <option value="Escrivao">Escrivao</option>
                </select>
            </div>
            <div class="half-alunos">
                <select name="concorrencia" class="form-control" id="concorrencias">
                    <option value="Ampla">Ampla</option>
                    <option value="Negros">Negros</option>
                    <option value="PCD">PCD</option>
                    <option value="SJA">Sub Judice</option>
                    <option value="SJD">Sub Judice PCD</option>
                    <option value="SJN">Sub Judice Negros</option>
                </select>
            </div>
        </div>
        <div id="retornoPesquisa">
            @{
                Html.RenderPartial("BuscaAlunosFiltro");
            }
        </div>
    </div>
