@model IEnumerable<GestaoDDD.Application.ViewModels.AlunoViewModel>
    @{
        Layout = "~/Views/Shared/_CFP.cshtml";
    }
    <link href="~/Content/Alunos/alunos_todos.css" rel="stylesheet" />
    <script src="~/Scripts/GoogleMaps/Alunos/alunos_partes.js"></script>
    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />

    <div class="m-4">
        <div class="form-control">
            <p>
                Escolha a concorrência dos alunos a ser exibidos:
                <select name="concorrencia" id="concorrencias">
                    <option value="Ampla">Ampla</option>
                    <option value="Negros">Negros</option>
                    <option value="SJ">Sub Judice</option>
                    <option value="SJNegros">Sub Judice Negros</option>
                </select>
            </p>
        </div>
        <div id="retornoPesquisa">
            @{
                Html.RenderPartial("BuscaAlunosFiltro");
            }
        </div>
    </div>
