@model IEnumerable<GestaoDDD.Application.ViewModels.DepartamentoPoliciaViewModel>

    @{
        Layout = "~/Views/Shared/_CFP.cshtml";
    }

    <link href="~/Content/Estatisticas/graficos.css" rel="stylesheet" />
    <script src="~/Scripts/GoogleMaps/Estatisticas/grafico.js"></script>

    <html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    </head>
    <body>
        <div>
            <p class="descricao">
                <label class="label-titulo">Regiões Integradas de Segurança Pública (RISPs):</label>
                <br />
                O DF foi dividido em quatro RISPs – Metropolitana, Oeste, Sul e Leste – para facilitar o direcionamento das ações dos órgãos de segurança pública em determinados locais. Cada RISP é composta por, pelo menos, seis regiões administrativas. A divisão ocorre, entre outras estratégias, para que batalhões e delegacias façam operações conjuntas para a solução de alguns crimes que afetam mais de uma área, por exemplo.
            </p>

            <p class="descricao" style="font-weight:bold;">
                <label class="label-titulo">Legenda:</label>
                <div class="legenda">
                    <strong>Crimes Violentos Letais Intencionais (CVLI):</strong> Homicídio, Latrocínio e Lesão Corporal Seg. de Morte
                    <br />
                    <strong>Crimes Contra o Patrimônio (CCP):</strong> Roubo a Transeunte, Roubo de Veículo, Roubo em Transporte Coletivo, Roubo em Comércio, Roubo em Residência e Furto em Veículo
                    <br />
                    <strong>Outros Crimes:</strong> Tentativa de Homicídio, Tentativa de Latrocínio, Estupro, Furto a Transeunte
                    <br />
                    <strong>Produtividade Policial:</strong> Tráfico de Drogas, Uso e Porte de Drogas, Posse/Porte de Arma e Localização de Veiculo Furtado ou Roubado
                    <br />
                    <a style="text-decoration: underline; color: blue; font-weight: 100" href="https://www.ssp.df.gov.br/dados-por-regiao-administrativa/">Acesse as informações completas aqui.</a>
                    <br />
                    <label class="label-titulo">BALANÇO CRIMINAL COMPARATIVO MENSAL 2022 - POR NATUREZA</label>
                </div>

            </p>
        </div>
        <div class="container-graficos">

            @*linha 1 coluna 1*@
            <div class="half">
                <label>RISP - Metropolitana</label>
                <div id="piechart_norte" class="grafico-rosca"></div>
            </div>

            <div class="half">
                <label>RISP - Sul</label>
                <div id="piechart_sul" class="grafico-rosca"></div>
            </div>
            <div class="half">
                <label>Delegacias mais procuradas</label>
                <div id="piechart_sul" class="grafico-rosca"></div>
            </div>
            <div class="half">
                <label>RISP - Oeste</label>
                <div id="piechart_oeste" class="grafico-rosca"></div>
            </div>

            <div class="half">
                <label>RISP - Leste</label>
                <div id="piechart_leste" class="grafico-rosca"></div>
            </div>

            <div class="half">
                <label>RISP - Teste 2</label>
                <div id="piechart_sul_2" class="grafico-rosca"></div>
            </div>
        </div>


    </body>
</html>

