@model IEnumerable<GestaoDDD.Application.ViewModels.DepartamentoPoliciaViewModel>

    @{
        Layout = "~/Views/Shared/_CFP.cshtml";
    }

    <link href="~/Content/Estatisticas/graficos.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />


    <div class="chart-container" id="chartContainer"></div>

