html, body {
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin: 0px;
    padding: 0px;
}

a {
    color: rgba(255,255,255,1);
}

    a:hover {
        color: black;
        text-decoration: none;
    }

.navbarmenu {
    padding-top: -1.5%;
    font-size: 20px;
}
