.table-row {
    cursor: pointer;
    transition: background-color 0.3s;
}

    .table-row:hover {
        background-color: #f5f5f5;
    }


.container-concorrencia {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 40px; /* se tiver duas linhas e duas colunas. Esse código fixa o tamanho da primeira linha e da segunda linha.*/
    margin: 20px;
    margin-top: -20px;
    margin-bottom: -10px;
}

.container-texto {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 20px; /* se tiver duas linhas e duas colunas. Esse código fixa o tamanho da primeira linha e da segunda linha.*/
    margin: 20px;
}

.half-alunos {
    box-sizing: border-box; /* Considera a borda no cálculo da largura */
    border: 0px solid #dee2e6; /* Apenas para fins de visualização */
    overflow: auto;
}

.half-texto {
    box-sizing: border-box; /* Considera a borda no cálculo da largura */
    border: 0px solid #dee2e6; /* Apenas para fins de visualização */
    overflow: auto;
}


@media (max-width: 480px) {
    .table th:nth-child(2),
    .table th:nth-child(4),
    .table th:nth-child(5),
    .table td:nth-child(2) {
        display: none;
    }

    .table td:nth-child(4) {
        display: none;
    }

    .table td:nth-child(5) {
        display: none;
    }

    .half-texto {
        display: none;
    }

    .container-concorrencia {
        display: grid;
        grid-template-columns: 100px 200px;
        grid-template-rows: 40px; /* se tiver duas linhas e duas colunas. Esse código fixa o tamanho da primeira linha e da segunda linha.*/
        margin: 20px;
        margin-top: -50px;
        margin-bottom: -10px;
    }

    /*Filtro de busca*/
    .filtro {
        margin-left: -20px;
        margin-top: -25px;
    }
}
