body {
    overflow-x: hidden;
}

.btn-proximos {
    background-color: #04994c;
    border-bottom-color: black;
    color: white;
}

.btn-proximos:focus {
    box-shadow: rgba(0,0,0,4);
    outline: 0;
}


.btn-remover {
    background-color: #ff0000;
    border-bottom-color: black;
    color: white;
}

.btn-remover:focus {
    box-shadow: rgba(0,0,0,4);
    outline: 0;
}


/* Fim Corpo da página */




/* Tabela */

.table-responsive {
    overflow-x: auto;
}

.table-delegacias-preferencia {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

    .table-delegacias-preferencia th,
    .table-delegacias-preferencia td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table-delegacias-preferencia thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table-delegacias-preferencia tbody + tbody {
        border-top: 2px solid #dee2e6;
    }


@media (max-width: 480px) {
    .table-delegacias-preferencia th:nth-child(2),
    .table-delegacias-preferencia td:nth-child(2) {
        display: none;
    }

    /*Filtro de busca*/
    .filtro {
        margin-left: -20px;
        margin-top: -25px;
    }

}